---
import Layout from "../layouts/Layout.astro";
import Sns from "../components/Sns.astro";
---

<Layout title="catatsuy's Website">
  <main>
    <h1>catatsuy's Website</h1>
    <h2>Profile</h2>
    <h3>Name</h3>
    <p>Tatsuya Kaneko （金子達哉）</p>
    <h3>SNS</h3>
    <ul role="list" class="sns">
      <Sns href="https://twitter.com/catatsuy" icon="twitter" />
      <Sns href="https://facebook.com/catatsuy" icon="facebook" />
      <Sns href="https://github.com/catatsuy" icon="github" />
      <Sns href="https://www.youtube.com/@catatsuy" icon="youtube" />
    </ul>
    <ul>
      <li>
        <a href="https://bsky.app/profile/catatsuy.org">catatsuy - Bluesky</a>
      </li>
      <li>
        <a href="https://zenn.dev/catatsuy">catatsuy | Zenn</a>
      </li>
      <li>
        <a href="https://note.com/catatsuy">catatsuy | note</a>
      </li>
    </ul>
    <h4>Other Links (old blog)</h4>
    <ul>
      <li>
        <a href="https://catatsuy.medium.com/">Medium</a>
      </li>
      <li>
        <a href="https://qiita.com/catatsuy">catatsuy - Qiita</a>
      </li>
      <li>
        <a href="https://catatsuy.hateblo.jp">catatsuyとは</a>
      </li>
      <li>
        <a href="https://blog.catatsuy.org">catatsuy's Blog</a>
      </li>
    </ul>
    <h3>Resume</h3>
    <ul>
      <li>
        <a href="https://github.com/catatsuy/resume"
          >Resume (Japanese version only)</a
        >
      </li>
    </ul>
    <h3>Jobs</h3>
    <ul>
      <li>
        CTO at <a href="https://prtimes.co.jp/">PR TIMES Corporation.</a>
        <span>2021/04 -</span>
      </li>
      <li>
        Software Engineer at <a href="https://about.mercari.com/"
          >Mercari, Inc.</a
        >
        <span>2018/06 - 2021/03</span>
      </li>
      <li>
        Software Engineer at <a href="https://www.pixiv.co.jp/">pixiv Inc.</a>
        <span>2013/08 - 2018/06</span>
      </li>
    </ul>
    <h3>Publications</h3>
    <h4>Books</h4>
    <a target="_blank" href="https://amzn.to/3NpUMtx">
      <img
        src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4297128462&Format=_SL250_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=catatsuy-22&language=ja_JP"
      />
    </a>
    <a target="_blank" href="https://amzn.to/2GckB2B">
      <img
        src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=4061385682&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=catatsuy-22"
      />
    </a>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .sns {
    padding: 0;
  }
  .sns li {
    list-style: none;
    display: inline-block;
    font-size: x-large;
  }
</style>
