name: Node.js CI

on: [pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Install Bun
        run: |
          curl -fsSL https://bun.sh/install | bash
          echo 'export BUN_INSTALL="$HOME/.bun"' >> $GITHUB_ENV
          echo "$HOME/.bun/bin" >> "$GITHUB_PATH"
          source $GITHUB_ENV

      - name: Install dependencies
        run: bun install

      - name: Run build
        run: bun run build
